# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pypackages__

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff
*.log
staticfiles/
media/

# Pyre type checker
.pyre/

# MyPy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace