body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("../image/backgroundimg.jpg") no-repeat center center fixed;
    background-size: 100%;
}

.container {
    background-color: rgba(201, 194, 194, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.form-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #fd0000;
    border-radius: 5px;
    width: calc(100% - 22px); 
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fd0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1 {
    color: #000000;
}

p {
    color: #0c0c0c;
}

.pokemon-img {
    max-width: 150px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rgba(201, 194, 194, 0.9);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #030303;
}

.error {
    color: red;
    font-weight: bold;
}
